<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main class="index-page">
      <table>
        <tr>
          <th></th>
          <th>Author</th>
          <th># Of commits</th>
        </tr>
        <% authors.forEach(function(author, i){ %>
          <tr>
            <td><%= i + 1 %></td>
            <td>
              <a href=<%= `/authors/${author.author_email}` %>>
                <%= author.author_email %>
              </a>
            </td>
            <td><%= author.total_commits %></td>
          </tr>
        <% }); %>
      </table>
    </main>
  </body>
</html>
